#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Fuentes */
  @font-face {
    font-family: 'ms_sans_serif';
    src: url('../node_modules/react95/dist/fonts/ms_sans_serif.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'ms_sans_serif';
    src: url('../node_modules/react95/dist/fonts/ms_sans_serif_bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
  }
  
  body, input, select, textarea {
    font-family: 'ms_sans_serif';
  }

  